<%= form_for @student do |f| %>
  <div class="form-group">
    <%= f.label :full_name %>
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :school_email %>
    <%= f.text_field :school_email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :alternate_email %>
    <%= f.text_field :alternate_email, class: 'form-control' %>
  </div>
  <div class="form-check">
    <%= f.radio_button :sex, 'male', class: 'form-check-input' %> 
    <%= f.label :sex, 'Male', value: 0 %>
  </div>
  <div class="form-check">
    <%= f.radio_button :sex, 'female', class: 'form-check-input' %>
    <%= f.label :sex, 'Female', value: 1 %>
  </div>
  <div class="form-group">
    <%= f.label :education_level %>
    <%= f.select :education_level, Student.education_levels.keys.map { |w| [w.humanize, w] }, {  include_blank: true} , {class: 'custom-select'} %>
  </div>
  <%= f.submit "Next", class: 'btn btn-sm btn-primary' %>
<% end %>