<div class="container">
  <h2 class='mt-3 text-center'>Help us to get to know you better</h2>
  <div class='form-group'>
  <%= form_for @student do |f| %>
    <div class='form-group'>
      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :school_email %>
      <%= f.email_field :school_email, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :alternate_email %>
      <%= f.email_field :alternate_email, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :sex %>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :sex, 'male', class:'custom-control-input' %> 
        <%= f.label :sex, 'Male', value: 'Male', class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :sex, 'female', class:'custom-control-input' %>
        <%= f.label :sex, 'Female', value: 'Female', class: 'custom-control-label' %>
      </div>
    </div>
    <div class='form-group'>
      <%= f.label :education_level %>
      <%= f.select :education_level, Student.education_levels.keys.map { |w| [w.humanize, w] }, {  include_blank: true} , {class: 'custom-select'} %>
    </div>
    <div class='d-flex justify-content-center'>
      <%= f.button 'Back',  class: 'back-button' %>
      <%= f.submit 'Next', class: 'next-button' %>
    </div>
  </div>
  <% end %>
</div>