<div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <%= link_to "Back", root_path, class: 'btn btn-sm btn-dark mt-4' %>
    </div>
  </div>
</div>
<div>
  <div>
    <h1 class="text-center text-uppercase">
      <span>Find your</span>
      <span>matching number!</span>
    </h1>
    <div class="text-center">
      <%= form_tag match_search_path, method: :get do %>
        <%= label_tag(:search, 'Enter your email here: ') %>
        <%= email_field_tag :search, params[:search] %>
        <%= submit_tag("Search", name: nil) %>
      <% end %>
      <br/>
      <% if @matches.present? %>
        <% @matches.each do |match| %>
          <p> Student: <%= match.student.full_name %> </p>
          <p> Tutor: <%= match.tutor.full_name %> </p>
          <p> Matching Number: <%= match.existing_matching_id %></p>
          <p> Subject: <%= match.subject_matched %></p>
          <hr>
        <% end %>
      <% else %>
        <p> Please enter your email (not alternate email!) in the box.</p>
        <p>Email is case sensitive, so try lowercase if the system can't find the match </p> 
        <p>If matching is not found, please contact admin at enquiries.ctss@gmail.com</p>
      <% end %>
    </div>
  </div>
</div>
