<div class='text-center'>Add progress bar here</div>
  
  <%if @feedback_type == "student"%>
    <h1 class='mt-3 text-center'>Feedback form for Students</h1>
  <%elsif @feedback_type == "tutor"%>
    <h1 class='mt-3 text-center'>Feedback form for Tutors</h1>
  <% end %>  
  
  <div class='form-group'>

  <%= form_for @feedback do |f| %>
    <div class='form-group'>
      <%= f.label :matching_number %>
      <%= f.text_field :matching_number, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :date_of_session %>
      <%= f.date_field :date_of_session, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :start_time %>
      <%= f.time_field :start_time, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :end_time %>
      <%= f.time_field :end_time, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%if @feedback_type == "student"%>
        <%= f.label :topics_covered, 'What did you do with your tutor today?' %>
        <%= f.text_field :topics_covered, class: 'form-control' %>
      <%elsif @feedback_type == "tutor"%>
        <%= f.label :topics_covered, 'What did you cover with your student today?' %>
        <%= f.text_field :topics_covered, class: 'form-control' %>
      <%end%>  
    </div>
    <div class='form-group'>
      <%if @feedback_type == "student"%>
        <%= f.label :understand_concepts, 'Did you understand the questions and concepts your tutor explained to you?' %>
        <%= f.text_field :understand_concepts, class: 'form-control' %>
      <%end%>
    </div>
    <div class='form-group'>
      <%= f.label :observe_code_of_conduct, 'Did your '+ @feedback_type + ' observe the code of conduct?' %>
      <div class="ml-5 form-check form-check-inline">
        <%= f.radio_button :observe_code_of_conduct, true, :value => true , class:'mr-1 form-check-label' %> 
        <%= f.label :observe_code_of_conduct, 'Yes', value:true, class: 'form-check-input' %>
      </div>
      <div class="ml-5 form-check form-check-inline">
        <%= f.radio_button :observe_code_of_conduct, false, :value => false, class:'mr-1 form-check-label' %>
        <%= f.label :observe_code_of_conduct, 'No', value:false, class: 'form-check-input' %>
      </div>

       <span> Tutor's COC: 1) Photography and videography of the students are strictly not allowed. 2) You have to observe online etiquette. If you and your student are using the webcam, ensure that whatever is visible to the student is neither rude, offensive, nor have the appearance of being sexual. 3) Any interaction with the student beyond regular tutoring sessions and the subject of teaching (for e.g. the student texting you a question) must be reported to the CTSS team at enquiries.ctss@gmail.com. 4) During a tutoring session, if you observe that the student's basic well-being or safety is compromised, please let the CTSS team know immediately so we can render further assistance. If the student alerts you to his/her difficult family situation, let us know as well.5) Never speak to students in a derogatory way, or in a way which discriminates or alienates them. Discrimination and racism will not be tolerated. </span>
    </div>
    <div class='form-group'>
      <%= f.label :eleborate,'If your answer to the question above was No, do elaborate the reason for your answer.' %>
      <%= f.text_field :eleborate, class: 'form-control' %>
    </div>
    
   <div class='form-group'>
    <%if @feedback_type == "student"%>
      <%= f.label :comfortable_with_tutor, 'Are you comfortable with your tutor?' %>
      <div class="ml-5 form-check form-check-inline">
        <%= f.radio_button :comfortable_with_tutor, true, :value => true , class:'mr-1 form-check-label' %> 
        <%= f.label :comfortable_with_tutor, 'Yes', value:true, class: 'form-check-input' %>
      </div>
      <div class="ml-5 form-check form-check-inline">
        <%= f.radio_button :comfortable_with_tutor, false, :value => false, class:'mr-1 form-check-label' %>
        <%= f.label :comfortable_with_tutor, 'No', value:false, class: 'form-check-input' %>
      <%end%>
    </div>

    <div class='form-group'>
      <%if @feedback_type == "tutor"%>
        <%= f.label :platform, 'Which platform did you use to conduct your tutoring session today?' %>
        <%= f.text_field :platform, class: 'form-control' %>
      <%end%>
    </div>

    <div class='form-group'>
      <%if @feedback_type == "tutor"%>
        <%= f.label :difficulties_with_tutoring, 'Did you meet any difficulties with tutoring today? Be it technical or teaching issues? If no, please enter "NIL".' %>
        <%= f.text_field :difficulties_with_tutoring, class: 'form-control' %>
      <%end%>
    </div>

     <div class='form-group'>
      <%if @feedback_type == "student"%>
        <%= f.label :other_feedbacks, 'Do you have other feedback?' %>
        <%= f.text_field :other_feedbacks, class: 'form-control' %>
      <%end%>
    </div>

    <%= f.collection_select :student_id, @students, :id, :full_name, prompt:true %>
    <%= f.collection_select :tutor_id, @tutors, :id, :full_name, prompt:true %>
    
    <div class='d-flex justify-content-center'>
      <%= link_to 'Back', root_path, class: 'btn back-button' %>
      <%= f.submit 'Next', class: 'btn next-button' %>
    </div>
  </div>
  <% end %>