 
  <div class="progress mt-3">
  <div class="progress-bar" role="progressbar" style="width:0%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  
  <%if @feedback_type == "student"%>
    <h1 class='mt-3 text-center'>Feedback form for Students</h1>
  <%elsif @feedback_type == "tutor"%>
    <h1 class='mt-3 text-center'>Feedback form for Tutors</h1>
  <% end %>  
  
  <div class='form-group'>
  <%= form_for @feedback do |f| %>
    <br>
    <div class='form-group'>
      <%= f.label :matching_number %>
      <%= f.text_field :matching_number, class: 'form-control', required: true%>
    </div>
    <div class='form-group'>
      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control', required: true%>
    </div>
    <div class='form-group'>
      <%= f.label :date_of_session, "Date of Session" %>
      <%= f.date_field :date_of_session, class: 'form-control', required: true %>
    </div>
    <div class='form-group'>
      <%= f.label :start_time, "Start time of Session" %>
      <%= f.time_field :start_time, class: 'form-control', required: true %>
    </div>
    <div class='form-group'>
      <%= f.label :end_time, "End time of Session" %>
      <%= f.time_field :end_time, class: 'form-control', required: true %>
    </div>
    <div class='form-group'>
      <%if @feedback_type == "tutor" || @feedback.identity == "tutor" %>
        <%= f.label :platform, 'Which platform did you use to conduct your tutoring session today?' %>
        <%= f.text_field :platform, class: 'form-control', required: true %>
      <%end%>
    </div>
    
    <%= f.hidden_field :identity, value: @feedback_type %>
    
    <div class='d-flex justify-content-center'>
      <%= link_to 'Back', root_path, class: 'btn back-button' %>
      <%= f.submit 'Next', class: 'btn next-button' %>
    </div>
  </div>
  <% end %>
